
<form [formGroup]="taskForm" (submit)="createTask()">
    <input type="text" formControlName="name" placeholder="Название">
  <br>
  <app-control-error [control]="taskForm.controls.name"></app-control-error>
    <input type="text"  formControlName="description" placeholder="Описание">
  <br>
  <app-control-error [control]="taskForm.controls.description"></app-control-error>
  <select formControlName="executor" class="styled-select">
    <option *ngFor="let exec of executors" [value]="exec">
      {{exec}}
    </option>
  </select>
  <button type="submit">Создать</button>
</form>
