<ul>
  <li><div>
    <button class="floated" *ngIf="moveBackEnabled" (click)="moveAhead(false)">
      <img src="assets/back.png" width="35">
    </button>
    <button class="floated" *ngIf="moveEnabled" (click)="moveAhead(true)">
      <img src="assets/forward.png" width="35">
    </button>
  </div>
  <a>
 Сделать: {{task.title}}<br>
  описание: {{task.description}}, <br>
  исполнитель: {{task.executor}}, <br>
  приоритет: {{task.priority}}<br>
  постановка задачи: <app-timer [task]=task></app-timer><br>

  </a>
  </li>
</ul>

